[Unit]
Description=D9 Testnet Node
After=network-online.target

[Service]
User=ubuntu
ExecStart=/home/ubuntu/d9_node/target/release/d9-node --base-path /home/ubuntu/node-data --chain /home/ubuntu/d9_node/testnet-spec.json --port 4010 --validator --alice
Restart=on-failure
RestartSec=3
LimitNOFILE=4096
Environment="NODE_KEY="

[Install]
WantedBy=multi-user.target
