[Unit]
Description=D9 Node
After=network-online.target

[Service]
User=ubuntu  
ExecStart=/home/ubuntu/d9-node/target/release/d9-node --base-path /home/ubuntu/node-data --chain /home/ubuntu/d9-node/main-spec.json --port 40100 --validator --node-key 
Restart=on-failure
RestartSec=3
LimitNOFILE=4096
Environment="NODE_KEY="

[Install]
WantedBy=multi-user.target
